// Referente a app/views/pages/about
.container-externo {
  min-height: calc(100vh - 170px);
}

.container-principal {
  color: $preto;
  width: 55vw;
  margin: 24px auto;
}

.container-texto {
  text-align: center;
  font-family:$body-font
}

.container-parágrafo {
  text-align: left;
  font-family:$body-font;
  letter-spacing: 1.2px;
  word-spacing: 2.2px;
  margin-top: 30px;
  font-size: 18px;
}

.detalhe {
  display: block;
  width: 80px;
  height: 3px;
  margin: 0 auto;
  margin-top: -9px;
  text-align : center;
  background-color: $azul;
}

.titulo {
  margin-bottom: 20px;
}

.titulo > h3 {
  font-family:$headers-font;
  font-size: 28px;
  letter-spacing: 1.55px;
  }

.título-centro {
  margin: 0 auto
}

.destaque {
  font-size: 35px;
  text-align: center;
  padding-top: 40px;
  font-family:$headers-font;
  word-spacing: 1.2px;
}


.card-cv {
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: $branco;
  text-align: center;
  min-height: 475px;
  position: relative;
}

.card-body-cv {

}

.card-title {
    font-size: 24px;
    text-align: center;
    font-family:$headers-font;
    color: $azul;
    line-height: 58px;
    letter-spacing: -1.5px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-subtitle-cv {
    letter-spacing: .15px;
    color: $preto;
    font-size: 15px;
    font-weight: 600;
    line-height: 32px;
    font-family:$body-font;
    margin-top: -15px;
}

.card-text-cv {
  text-align: center;
}

.card-user-cv {

}


.detalhe-page-about-cv {
  display: block;
  width: 98px;
  height: 3px;
  margin: 0 auto;
  margin-top: -10px;
  text-align: left;
  background-color: $azul;
}

.footer-cv {
  position: absolute;
  bottom: 20px;
  left: 75px;
}
