// Referente a app/views/pages/about
.container-externo {
  min-height: calc(100vh - 170px);
}

.container-principal {
  color: $preto;
  width: 55vw;
  margin: 24px auto;
}

.container-texto {
  text-align: center;
  font-family:$body-font
}

.container-paragrafo {
  text-align: left;
  font-family:$body-font;
  letter-spacing: 1.2px;
  word-spacing: 2.2px;
  margin-top: 30px;
  font-size: 18px;
}

@media (max-width: 480px) {
  .container-paragrafo  {
    width: 155%;
    margin-left: -55px;
    margin-right: 0px;
  }
}

.detalhe {
  display: block;
  width: 80px;
  height: 3px;
  margin: 0 auto;
  margin-top: -29px;
  text-align : center;
  background-color: $azul;
}

.titulo {
  margin-bottom: 20px;
}

// .titulo > h3 {
//   // font-family:$headers-font;
//   // font-size: 28px;
//   // letter-spacing: 1.55px;
//   font-size: 30px;
//   color: $preto;
//   font-family: $headers-font;
//   line-height: 58px;
//   letter-spacing: -1.5px;
//   font-weight: 600;
//   }

.título-centro {
  margin: 0 auto
}

.destaque {
  font-size: 35px;
  text-align: center;
  padding-top: 40px;
  font-family:$headers-font;
  word-spacing: 1.2px;
}


.card-cv {
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: $branco;
  text-align: center;
  min-height: 475px;
  position: relative;
}

.card-body-cv {

}

.card-title {
    font-size: 24px;
    text-align: center;
    font-family:$headers-font;
    color: $azul;
    line-height: 58px;
    letter-spacing: -1.5px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-subtitle-cv {
    letter-spacing: .15px;
    color: $preto;
    font-size: 15px;
    font-weight: 600;
    line-height: 32px;
    font-family:$body-font;
    margin-top: -15px;
}

.card-text-cv {
  text-align: justify;
}

.card-user-cv {

}

.detalhe-page-about-cv {
  display: block;
  width: 118px;
  height: 3px;
  margin: 0 auto;
  margin-top: -10px;
  text-align: left;
  background-color: $azul;
}

.footer-cv {
  position: absolute;
  bottom: 20px;
  padding-left: 62px;
}

@media (max-width: 480px) {
  .footer-cv  {
    width: 155%;
    margin-left: -55px;
    margin-right: 0px;
  }
}

.padding {
  padding-right: 5px;
}


.footer-cv-2 {
  position: absolute;
  bottom: 20px;
  padding-left: 79px;
}

@media (max-width: 480px) {
  .footer-cv-2  {
    width: 155%;
    margin-left: -55px;
    margin-right: 0px;
  }
}
