// Import page-specific CSS files here.
@import "home";
@import "about";
@import "new_user";
@import "sign_in";

#map-box {
  margin: 0;
  padding: 0;
  border: 0.7px solid #E6E6E6;
}

.doctor-information{
  border-bottom: 0.5px dotted #E6E6E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
  h1 {
    font-size: 21px;
    font-family: $headers-font;
    color: $preto;
  }
}

.doctor-avatar{
  text-align: center;
  margin-left: 40px;
  margin-top: 12px;
}

.doctor-name {
  text-align: center;
  // flex: 1 0 auto;
  padding: 20px auto;
}

.icons {
  color: $azul;
  font-size: 15px;
}

.doctor-specialty {
  font-family: $body-font;
}

.doctor-info-box {
  flex: 1 0 auto;
  text-align: center;
  padding: 4px;
}
