// Referente a app/views/device/registrations/new
.container-form {
  margin: 0 auto;
  min-height: calc(100vh - 120px);
  background-color: $branco;
}

.form-style {
  color: $preto;
  font-family: $body-font;
  font-weight: 300;
  letter-spacing: 0.55px;
}

.form-action-style {
  margin: 0;
}

.detalhe-page-new-user {
  display: block;
  width: 114px;
  height: 3px;
  margin: 0 auto;
  margin-top: -20px;
  text-align: left;
  background-color: $azul;
}

.detalhe-page-new-doctor {
  display: block;
  width: 318px;
  height: 3px;
  margin: 0 auto;
  margin-top: -20px;
  text-align: left;
  background-color: $azul;
}

.titulo {
  margin-top: 30px;
  //  h2 {
  // font-size: 27px;
  // text-align: center;
  // font-family:$headers-font;
  h2 {
    font-size: 30px;
    color: $preto;
    font-family: $headers-font;
    line-height: 58px;
    letter-spacing: -1.5px;
    font-weight: 300;
  }
}

.container-out-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-submit {
  width: 100%;
}

.birth {
  margin-top: -2px;
  margin-bottom: 22px;
}

// .apply-box {
//   border-radius: 4px;
//   box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
//   margin: 0px 120px 30px 120px;
//   background-color: $branco;
// }

@media (max-width: 480px) {
  .container-form  {
    width: 90%;
    margin-left: 18px;
    margin-right: 0px;
  }
}

.destaque-new-user {
  font-size: 35px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  padding-bottom: 20px;
  font-family:$headers-font;
  word-spacing: 1.2px;
}

@media (max-width: 480px) {
  .destaque-new-user {
    font-size: 36px;
    width: 162%;
    margin-left: -112px;
    margin-right: 0px;
  }
}

// app/views/device/registrations/edit

.edit-actions {
  padding-top: 15px;
  h1 {font-size: 16px;
  font-family:$headers-font;
  text-align: left;
  }
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  margin: auto;
}

.upload-photo {
  border: 1px solid rgba(103,112,119, 0.5);
  border-radius: 0.5rem;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 500;
  background: $cinza;
  color: white;
  margin-right: 12px;
  &:hover {
    opacity: 0.8;
  }
}
