
.main-container-edit-patients-records {
  min-height: calc(100vh - 170px);
}

.detalhe-page-prontuario {
  display: block;
  width: 137px;
  height: 3px;
  margin: 0 auto;
  margin-top: -10px;
  text-align: left;
  background-color: $azul;
}

.apply-box {
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $branco;
}

