// referente a app/views/consultations/new

.style-horario {
  margin: 6px;
}

.row:hover a {
  text-decoration:none;
}

.hello {
  h2 {
  padding-top: 40px;
  padding-left: 20px;
  font-family: $headers-font;
  color: $azul;
  }
}

.doc-information {
  width: 50%;
  margin-right: 50px;
  h3 {
  font-family: $body-font;
  font-weight: 200;
  font-size: 30px;
  padding-top: 20px;
  letter-spacing: 2.0px;
  word-spacing: 2.2px;
  line-height: 1.3;
  }
}

.schedule {
  // grid-column: 2;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
}

.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  margin: 0px 120px 30px 120px;
  padding: 0 25px;
  max-width: 1000px;
}
