// Referente a app/views/device/sessions/new

.container-form-sign-in {
  margin: 30px auto;
  width: 90vw;
  height: calc(100vh - 70px);
}

.style {
  margin-top:-37px;
}

@media (max-width: 480px) {
  .container-form-sign-in  {
    width: 90%;
    margin-left: 20px;
    margin-right: 0px;
  }
}

@media (max-width: 480px) {
  .destaque  {
    display: block
  }
}
