// Referente a app/views/device/sessions/new
.container-form-sign-in {
  min-height: calc(100vh - 120px);
  background-color: $branco;
}

.style {
  margin-top:-37px;
}

@media (max-width: 480px) {
  .container-form-sign-in  {
    width: 90%;
    margin-left: 20px;
    margin-right: 0px;
  }
}

.destaque-sign-in {
  font-size: 35px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 5px;
  font-family:$headers-font;
  word-spacing: 1.2px;
  h2{
    font-size: 24px;
    font-weight:300;
  }
}

// Referente a app/views/passwords/new

.password-link-style {
  padding-left: 0px;
  font-size: 10px;
  font-family: $headers-font;
  font-weight: 400;
  color: $branco;
}
