
<div class="footer">
  <div class="about">
    <p><%= link_to "Sou um médico", new_doctor_path %></p>
  </div>
  <div>
    <div class ="about">
      <%= link_to 'Sobre a Vitta', about_path%>
    </div>
    <div class = "contato">
       <p><%= "vitta@vitta.com.br" %></p>
    </div>
  </div>
</div>

