<div class = "main-container-edit-patients-records">
  <div class="container" style = "margin-top: 30px;font-size: 0px">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class = "container-texto">
          <div class = titulo>
            <h2>Prontuário Médico</h2>
            <p class="detalhe-page-prontuario"></p>
          </div>
        </div>

        <div class = "form-style">
          <%= simple_form_for(@patient_record) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :entry, as: :wysihtml5, wysihtml5: { toolbar:{"fa": true}, locale: "pt-BR" } %>
          </div>
        </div>
        <div class = "button-edit-new">
          <div class="form-actions form-action-style">
            <%= f.button :submit, "Salvar", class: 'btn-coral' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
