<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <div class = "form-style">
        <%= simple_form_for([@user, @patient_record]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :entry, as: :wysihtml5, wysihtml5: { toolbar:{"fa": true}, locale: "pt-BR" } %>
        </div>
      </div>
      <div class="form-actions form-action-style">
        <%= f.button :submit, "Salvar", class: ' btn-submit btn-coral' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
