<!-- Ver app/assets/stylesheets/pages/_about -->

<div class = destaque>
  <p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit."
  </p>
</div>

<div class = container-principal>

  <div class = container-texto>
    <div class = titulo>
      <h3>Vitta</h3>
      <p class="detalhe"></p>
    </div>
  </div>

  <div class = container-parágrafo>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ducimus ad quasi ea non, minus harum at aut molestias blanditiis officia eligendi iusto repudiandae nihil fugiat aliquam, laborum laboriosam! Debitis.   </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ducimus ad quasi ea non, minus harum at aut molestias blanditiis officia eligendi iusto repudiandae nihil fugiat aliquam, laborum laboriosam! Debitis.   </p>
  </div>

</div>

