<!-- Ver app/assets/stylesheets/pages/_about -->
<div class = "container-externo">

  <div class = "destaque">
    <p>" All things are difficult before there are easy."
    </p>
    <p style = "font-size: 20px"><i>Thomas Fuller</i></p>
  </div>

  <div class = "container-principal">
    <div class = "container-paragrafo">
      <p>  O projeto Vitta foi desenvolvido durante o bootcamp de programação
      da Le Wagon São Paulo, curso Full-Stack Developer de 9 semanas, turma #211.
      </p>
      <p>
      A palavra Vitta foi inspirada na palavra <i>vita</i> cuja origem é latim e significa <strong>vida!!</strong></p>
    </div>

      <div class = "container-texto">
      <div class = "titulo">
        <h3>Equipe</h3>
        <p class="detalhe-page-about-cv"></p>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
       <div class="col-xs-12 col-sm-3">
        <div class="card-cv">
          <div class="card-body-cv">
            <img class="card-user-cv avatar-larger"
            <%= image_tag "Andre.jpeg", alt: "André"%>
            <h4 class="card-title">Andre Antunes</h4>
            <h6 class="card-subtitle-cv">Full stack developer</h6>
            <p class="card-text-cv">
              Currently @ Manaca Capital | entrepreneur - São Paulo.
              want to learn to code to better manage tech team and develop a new skill.
            </p>
             <div class="footer-links footer-cv">
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-github"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-instagram"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-facebook"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-twitter"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
       <div class="col-xs-12 col-sm-3">
        <div class="card-cv">
          <div class="card-body-cv">
            <img class="card-user-cv avatar-larger" <%= image_tag "Andrey.jpeg", alt: "Andrey"%>
            <h4 class="card-title">Andrey Spies</h4>
            <h6 class="card-subtitle-cv">Full stack developer</h6>
            <p class="card-text-cv">
              Before Le Wagon, I was a computer technician. In 2018 I've decided to learn to code and I made some small courses, until meeting LeWagon. Now, I'm here to learn to code and get start with my own StartUp!
            </p>
             <div class="footer-links footer-cv">
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-github"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-instagram" style = "padding-right: 3px;"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-facebook" style = "padding-right: 3px;"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-twitter"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
       <div class="col-xs-12 col-sm-3">
        <div class="card-cv">
          <div class="card-body-cv">
            <img class="card-user-cv avatar-larger" <%= image_tag "Kali_.jpeg", alt: "Kali"%>
            <h4 class="card-title">Kali Ebert</h4>
            <h6 class="card-subtitle-cv">Full stack developer</h6>
            <p class="card-text-cv">
              Graduated in business administration and specialist in real estate development, interested in entrepreneurship and would like to understand the startup's universe.
            </p>
             <div class="footer-links footer-cv">
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-github"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-instagram"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-facebook" style = "padding-right: 3px;"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-twitter"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
       <div class="col-xs-12 col-sm-3">
        <div class="card-cv">
          <div class="card-body-cv">
            <img class="card-user-cv avatar-larger"<%= image_tag "Mauricio.jpeg", alt: "Mauricio"%>
            <h4 class="card-title">Mauricio Homma</h4>
            <h6 class="card-subtitle-cv">Full stack developer</h6>
            <p class="card-text-cv">
              Professional engineering student, hope to start working asap. Love geek stuff, calisthenics, forró. I try to eat healthy but the beer doesn't let me...
            </p>
             <div class="footer-links footer-cv">
              <a href="#"><i class="fab fa-github" style = "padding-right: 3px;"></i></a>
              <a href="#"><i class="fab fa-instagram" style = "padding-right: 3px;"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-facebook"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-twitter"></i></a>
              <a href="#" style = "padding-right: 3px;"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
