<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = <%= raw @searchArray %>;
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
</head>


<div class="homepage-wrapper">
  <div class="container main-home">
    <div class="home-outter">
      <div class = "container" style = "padding-top: 75px">
        <div class="row">
          <h1 class="homepage-quote">Encontre os melhores médicos <br>próximos a você</h1>
          <div class="col-xs-12 col-md-6 offset-md-3">
            <div class="content-home">
              <form action="doctors" class="homepage-search-form ui-widget"  >
                <input type="text" name="keywords" placeholder="Busque por nome, especialidade..." class="homepage-search-text-field" id="tags">
                <input type="text" name="latitude" hidden id="latitude">
                <input type="text" name="longitude" hidden id="longitude">
                <button type="submit"  value="" class="search-btn homepage-search-form-button">
                  <i class="fas fa-search search-icon"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
// const search = document.getElementById('search-type');

</script>


