<div class="container main-home">
  <section class="home-outter">

    <div class="content-home">
      <div class="content-home-container">

        <div class="content-title-home-inner">
          <h1><span>Encontrar um médico em</span></h1>
            <form class="no-widget">
            <select name="myCity">
              <option>São Paulo</option>
              <option>Rio de Janeiro</option>
              <option>Curitiba</option>
              <option>Porto Alegre</option>
              <option>Minas Gerais</option>
            </select>
            <div class="select" role="listbox">
              <span class="value">São Paulo</span>
              <ul class="optList hidden" role="presentation">
                <li class="option" role="option" aria-selected="true">São Paulo</li>
                <li class="option" role="option">Rio de Janeiro</li>
                <li class="option" role="option">Curitiba</li>
                <li class="option" role="option">Porto Alegre</li>
                <li class="option" role="option">Minas Gerais</li>
              </ul>
            </div>
            </form>
        </div>
        <div class="content-search-home-inner">
            <form class="widget">
            <select name="myType">
              <option>Especialidade</option>
              <option>Nome do Médico</option>
            </select>
            <div class="select" id="novo" role="listbox">
              <span class="value" id="search-type">Tipo de Procura</span>
              <ul class="optList hidden" role="presentation">
                <li class="option" role="option" aria-selected="false">-Tipo de Procura-</li>
                <li class="option" role="option">Especialidade</li>
                <li class="option" role="option">Nome do Médico</li>
              </ul>
            </div>
            </form>

            <form class="widget">
            <select name="myType">
              <option>Cardiologista</option>
              <option>Cirurgião Plástico</option>
              <option>Dermatologista</option>
              <option>Geriatra</option>
              <option>Oftamologista</option>
            </select>
            <div class="select" id="novo-2" role="listbox">
              <span class="value">Cardiologista</span>
              <ul class="optList hidden" role="presentation">
                <li class="option" role="option" aria-selected="true">Cardiologista</li>
                <li class="option" role="option">Cirurgião Plástico</li>
                <li class="option" role="option">Dermatologista</li>
                <li class="option" role="option">Geriatra</li>
                <li class="option" role="option">Oftamologista</li>
              </ul>
            </div>
            </form>
            <div class="search-btn"><span class="icon-Search" src="<%= image_path 'search_white.svg' %>"></span></div>
        </div>


      </div>
    </div>

  </section>
</div>


<script>
// const search = document.getElementById('search-type');

</script>



