.btn-branco {
  color: $coral;
  border: 1px solid $coral;
  padding: 9px 36px;
  border-radius: 5px;
  font-weight: medium;
  background-color: $branco;
  font-weight: 400;
  // opacity: 0.6;
}

.btn-branco-peq {
  opacity: 1;
  text-decoration: none;
  color: $coral;
  border: 0.8px solid $coral;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: 400;
  // opacity: 0.6;
//   box-shadow: 0.1px 0.1px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn-branco-peq:hover {
  // opacity: 0.8;
  transition: 0.7s;
  text-decoration: none;
  color: $branco;
  border: 1px solid $coral;
  background: $coral;
}

.btn-branco:hover {
  opacity: 1;
  text-decoration: none;
  color: $coral;
  border: 1px solid $coral;
  background-color: $cinza;
}

.btn-coral{
  color: $branco;
  padding: 9px 36px;
  border-radius: 5px;
  font-weight: bold;
  background: $coral;
  transition: background 0.2s ease;
  border: 1px solid $coral;
}

.btn-coral:hover {
  opacity: 1;
  background-color: $branco;
  text-decoration: none;
  color: $coral;
  border: 1px solid $coral;
}

.btn-transparente {
  color: $coral;
  padding: 9px 36px;
  border-radius: 5px;
  font-weight: bold;
  background: $branco;
  transition: background 0.2s ease;
}

.btn-transparente:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0);
  text-decoration: none;
  color: $branco;
  border: 1px solid $branco;
}
