.set_footer{
  position: relative
}

.footer {
  width: 100vw;
  position: absolute;
  bottom: -100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $branco;
  height: 100px;
  padding: 0px 50px;
  border-top: 0.5px solid $cinza;
  margin: 0 0px;
  text-align: right;
  letter-spacing: 1.2px;
  font-family: $body-font;
  // align-items: space-between;
  // justify-content: space-around;
}

.contato {
  color: $azul
}

.about {
  padding-top: 10px;
  color: $azul
}

.contato:hover{
  text-decoration: none;
  color: $coral;
}

.about:hover a {
  text-decoration: none;
  color: $coral;
}


