
.footer {
  background: $branco;
  height: 100px;
  padding: 0px 50px;
  border-top: 1px solid $cinza;
  margin: 0 0px;
  text-align: right;
  // display: flex;
  // align-items: space-between;
  // justify-content: space-around;
  // color: rgba(0,0,0,0.3);
}

.contato {
  color: $azul
}

.about {
  color: $azul
}

.contato:hover{
  text-decoration: none;
  color: $coral;
}

.about:hover {
  text-decoration: none;
  color: $coral;
}


