
.footer {
  background: $branco;
  height: 100px;
  padding: 0px 50px;
  border-top: 0.5px solid $cinza;
  margin: 0 0px;
  text-align: right;
  // align-items: space-between;
  // justify-content: space-around;
}

.contato {
  color: $azul
}

.about {
  padding-top: 10px;
  color: $azul
}

.contato:hover{
  text-decoration: none;
  color: $coral;
}

.about:hover {
  text-decoration: none;
  color: $coral;
}


